<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
	<bean id="lifecycleBeanPostProcessor"  class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


	<!-- 配置SecurityManager -->
	<bean id="webSecurityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealms"></property>
	</bean>

	<!-- 自定义realm -->
	<bean id="myRealms" class="com.team.shiro.MyRealm">
	</bean>



	<!-- 配置在web项目中起作用的shiroFilter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 引用securityManager -->
		<property name="securityManager" ref="webSecurityManager"></property>
		<!-- 配置没有认证的时候进入的界面 -->
		<property name="loginUrl" value="/login.jsp"></property>
		<!-- 配置要过滤的界面以及相对应的权限 -->
		<property name="filterChainDefinitions">
			<!-- 配值的时候，不能有空格 -->
			<value>
				/login.jsp*=anon
				/workspace.jsp*=authc
				/page/sys_area.jsp*=authc
				/page/sys_dept.jsp*=authc
				/page/sys_emp.jsp*=authc
				/page/sys_area_add.jsp*=authc
				/page/sys_dept_add.jsp*=authc
				/page/sys_emp_add.jsp*=authc
				/page/sys_menupower_set.jsp*=authc
				/page/be__audit.jsp*=authc
				/page/be__auditForm.jsp*=authc
				/page/be__billclear.jsp*=authc
				/page/be__billclearForm.jsp*=authc
				/page/be__contract.jsp*=authc
				/page/be__contractForm.jsp*=authc
				/page/be__open.jsp*=authc
				/page/be__openForm.jsp*=authc
				/page/be__pay.jsp*=authc
				/page/be__payForm.jsp*=authc
				/page/be__save.jsp*=authc
				/page/be__saveForm.jsp*=authc
				/page/be__working.jsp*=authc
				/page/be__workingForm.jsp*=authc
				/page/be_abort.jsp*=authc
				/page/be_order.jsp*=authc
				/page/be_orderInfo.jsp*=authc
				/page/be_reportMoney.jsp*=authc
				/page/be_reportProgress.jsp*=authc
				/page/be_requestOrder.jsp*=authc
				/page/pay_window.jsp*=authc
				/page/rd_audit.jsp*=authc
				/page/rd_audit_details.jsp*=authc
				/page/rd_audit_progress.jsp*=authc
				/page/rd_audit_progress1.jsp*=authc
				/page/rd_enter.jsp*=authc
				/page/rd_enter_setMaxValue.jsp*=authc
				/page/rd_init.jsp*=authc
				/page/rd_init_progress.jsp*=authc
				/page/rd_reEnter.jsp*=authc
				/page/rd_reportReading.jsp*=authc
				/page/rd_task.jsp*=authc
				/page/rd_task_set.jsp*=authc
				/page/rd_volume.jsp*=authc
				/page/rd_volume_add.jsp*=authc
				/page/rd_volume_update.jsp*=authc

				<!-- 配置角色可访问的界面
				/index.jsp*=roles[admin]
				/success.jsp*=roles[user] -->
			</value>
		</property>
	</bean>


</beans>
